@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --fake-white: #EAF1F5;
    --accent: #52006A;
    --salmon: #ff7f77;
    --yellow: #fcbc04;
    --yellow-green: #6cf4cc;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: ease 200ms;
}

body {
    background-color: var(--salmon);
    overflow-x: hidden;
}

@mixin main-container {
    flex-direction: column;
    display: flex;
    margin: auto;
    // align-items: center;
}

.super-container1 {
    @include main-container();
    background-color: #fcbcd6
}

.super-container2 {
    @include main-container();
    background-color: var(--salmon);
}

.store_main-container {
    @include main-container();
    flex-direction: row;
    position: relative;
    top: 58px;

    @media only screen and (max-width: 580px) {
        flex-direction: column;
    }
}

//  NAV
@mixin basic-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 3em;
    top: 0;
    background-color: var(--fake-white);
    border-bottom: 10px solid var(--salmon);

    .nav-item {
        display: flex;
        align-items: center;
        padding: 0 1.7em;
    }

    img {
        height: 40px;
    }

    .search-bar {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background-color: var(--fake-white);
        border-style: solid;
        border-radius: .4em;
        border: none;
        border-left: 3px solid var(--salmon);
        border-right: 3px solid var(--salmon);
        // padding: 4px;
        width: 20vw;
        height: 2em;
        overflow-x: hidden;

        .search-bar__icon {
            padding: 0 10px;
        }

        .search-bar__input {
            background-color: var(--fake-white);
            border: none;
            width: 28vw;
            height: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    ul {
        list-style: none;
        gap: 10px;

        a {
            text-decoration: none;
            color: black;
            border-radius: 1em;
            transition: 150ms;
            padding: 5px 10px;
        }

        & :hover {
            border-radius: .5em;
            color: white;
            background-color: var(--salmon);
        }
    }

    .burger-menu {
        display: none;
        padding: 5px 10px;
    }

    @media only screen and (max-width: 1000px) {
        .search-bar {
            position: relative;
            width: 13em;
        }

        img {
            display: none;
        }
    }

    @media only screen and (max-width: 705px) {
        .search-bar {
            display: none;
        }
    }

    // PHONE
    @media only screen and (max-width: 580px) {
        left: 0;
        right: 0;

        .nav-links {
            display: none;
        }

        .burger-menu {
            display: flex;
        }

        .nav-item {
            padding: 0 .5em;
        }
    }
}

.index-nav {
    @include basic-nav();
}

.store-nav {
    @include basic-nav();
    position: fixed;
    z-index: 2;
}


//  HERO -----------------

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-logo {
        position: absolute;
        width: 60em;
        top: 3.7em;
    }

    .hero-section {
        display: flex;
        gap: 4em;

        .hero-left {
            // outline: 1px red solid;
            width: 40em;

            h2 {
                align-self: center;
                font-size: 1.3em;
            }
        }

        .hero-right {
            display: flex;
            // outline: 1px red solid;

            img {
                height: 20em;
                border-radius: 1em;
            }
        }
    }
}

.bottom-bar_img {
    margin-top: 3em;
}

.ether-stats {
    display: flex;
    margin-top: 2em;
    width: 90%;
    // color: var(--accent);
    gap: 1.2em;

    i {
        padding-left: 5px;
    }

    b {
        font-size: 1.2em;
        padding: 4px;
        margin: 0;
    }

    p {
        // color: var(--accent);
        padding: 4px;
        margin: 0;
    }
}

.social {
    display: flex;
    flex-direction: column;
    // outline: 1px solid red;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
    font-size: 20px;

    .social-icons {
        display: flex;
        gap: 10px;

        i {
            text-decoration: none;
            color: var(--fake-white);
        }
    }

    .social-text p {
        margin: 0;
    }

}


//  store.html <---

.filter-container {
    background-color: #fcc7b0;
    align-items: center;
    position: fixed;
    width: 15em;
    height: 100%;

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
        cursor: pointer;
        margin: 0 10%;
    }

    .price-filter__input {
        display: flex;
        justify-content: center;

        input {
            width: 5em;
            padding: 6px;
            border: none;

            &:focus {
                outline: 3px solid var(--salmon);
            }
        }

        #min {
            border-radius: .5em 0 0 .5em;
        }

        #max {
            border-radius: 0 .5em .5em 0;
        }
    }

    .name-filter__input {
        display: flex;
        flex-direction: column;
        align-items: center;

        p:hover {
            cursor: pointer;
            color: #ff7f77;
        }
    }

    @media only screen and (max-width: 580px) {
        position: relative;
        width: 100%;
        height: min-content;

        .filter {
            width: 100vw;
            margin: 0;
        }
    }
}

.products-container {
    background-color: #fce4dc;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15em;
    height: 101vh;
    padding: 2em;
    width: 100%;
    gap: 1em;

    .product-card {
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        height: 20em;
        width: 17em;
        background-color: #EAF1F5;
        border: 2px solid black;
        cursor: pointer;

        &:hover {
            background-color: #fcbcd6;
        }

        img {
            border-radius: 1em 1em 0 0;
            height: 16em;
            object-fit: cover;
        }

        .product-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            gap: 5px;

            p {
                margin: 0;
                text-align: center;
            }

            .product-price {
                display: flex;
                color: #717273;

                i {
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
        }
    }

    @media only screen and (max-width: 580px) {
        margin: 0;
        width: 87vw;

        .product-card {
            flex-direction: row;
            border-radius: 1em;
            height: 6em;
            width: 100%;

            img {
                border-radius: 1em 0 0 1em;
                height: 6em;
                object-fit: cover;
            }
        }
    }
}


//  login panel -----------------

.login-panel {
    position: fixed;
    background-color: var(--salmon);
    z-index: 5;
    right: 0;

    .login-panel--close {
        position: absolute;
        cursor: pointer;
        border-radius: 100%;
        right: 1em;
        top: 1em;

        &:hover {
            color: white;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        padding-top: 4em;
        width: 30em;
        height: 100vh;
        gap: 1em;

        label {
            margin-bottom: -10px;
        }

        .form-input-text {
            border-radius: 0.7em;
            border: 2px solid gray;
            padding: 6px;
            transition: 300ms;
            width: 15em;
        }

        .radio-container {
            display: flex;
            width: 19em;
            // outline: 1px solid red;

            label {
                margin: 0 7px;
                flex-grow: 1;
            }

            a {
                text-decoration: none;
            }
        }

        .form-buttons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;

            .form-enviar {
                border-style: none;
                align-items: center;
                text-align: center;
                text-decoration: none;
                color: white;
                justify-content: center;
                padding: 7px;
                border-radius: .7em;
                height: 2em;
                background-color: #52006A;
            }

            .form-enviar:hover {
                background-color: var(--accent);
                cursor: pointer;
            }

            .form-link {
                text-align: right;
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: .9em;
                padding-left: 10px;
                color: var(--accent);
            }
        }
    }
}

.footer-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    bottom: 0;

    .footer-item {
        display: flex;
        padding: 0 2em;
        gap: 2em;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.hidden {
    display: none !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}